main {
  padding: 20px;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.voltar {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px 15px;
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
}

.adicionar {
  background-color: #b6f0dc;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #004d25;
  transition: 0.3s;
}

.adicionar:hover {
  background-color: #a2e0cb;
}

.outras {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.pesquisa {
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f7f7f7;
}

.pesquisa input {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
}

form {
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 80%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
.column-left,
.column-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.campo {
  display: flex;
  align-items: center;
  width: 100%;
}

.campo label {
  background-color: #b6f0dc;
  color: #004d25;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px 0 0 6px;
  white-space: nowrap;
  width: 30%;
  text-align: center;
}

.campo input {
  flex: 1;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 6px 6px 0;
  padding: 6px 8px;
}

.botao-pet {
  background-color: #b6f0dc;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #004d25;
  transition: 0.3s;
  width: 100%;
  max-width: 200px;
}

.botao-pet:hover {
  background-color: #a2e0cb;
}
@media (max-width: 768px) {
  .linha {
    grid-template-columns: 1fr;
  }

  .campo label {
    min-width: 100px;
    text-align: left;
  }
}
